<!doctype html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Welcome</title>
  </head>
  <body>
    <div id="content">
      <div>
        <form method="POST">
          <img src="/ps4.jpg" />
          <h1>PlayStation4 1TB</h1>
          <input type="submit" value="Vásárlás" id="button" />
        </form>
      </div>
      <div>
        <form method="POST">
          <img src="/ps5.jpg" />
          <h1>PlayStation5 1TB</h1>
          <input type="submit" value="Vásárlás" id="button" />
        </form>
      </div>
      <div>
        <form method="POST">
          <img src="/xbox.jpg" />
          <h1>Xbox Series X 500GB</h1>
          <input type="submit" value="Vásárlás" id="button" />
        </form>
      </div>
    </div>
  </body>
</html>
